:host {
  display: block;
  width: 100%;
  height: 100%;
}

.row-layout-container {
  width: 100%;
  height: 100%;

  &:hover:not(.selected) {
    cursor: pointer;
    border: 1px solid #ccc;
  }

  &.empty {
    border: 1px dashed #ccc;
  }

  &.selected {
    border: 1px solid #ccc;
  }
}
