<div
  [ngClass]="model.styles"
  class="row-layout-container flex flex-row"
  [class.empty]="!model.children || model.children.length === 0"
>
  @for (child of model.children; track child.id) {
    @switch (child.type) {
      @case ('row') {
        <cc-row [model]="child"></cc-row>
      }
      @case ('column') {
        <cc-column [model]="child"></cc-column>
      }
      @case ('heading') {
        <cc-heading [model]="child"></cc-heading>
      }
      @case ('image') {
        <cc-image [model]="child"></cc-image>
      }
      @case ('link') {
        <cc-link [model]="child"></cc-link>
      }
      @case ('text') {
        <cc-text [model]="child"></cc-text>
      }
    }
  }
</div>
