:host {
  display: inline-block;
}

.heading-layout-container {
  width: 100%;

  &:hover:not(.selected) {
    cursor: pointer;
    border: 1px solid #ccc;
  }

  &.selected {
    border: 1px solid #ccc;
  }
}
