<aside class="flex flex-col w-72 min-w-[14rem] h-full p-4 sm:p-2 bg-white rounded-lg shadow-md">
  <div class="mb-4">
    <span class="text-lg font-semibold text-gray-900">Properties</span>
  </div>
  @if (selectedComponent) {
    <div class="flex flex-col gap-2">
      <div class="flex flex-col">
        <label class="text-sm text-gray-600">Selected Component</label>
        <span>{{ selectedComponent.id }}</span>
      </div>

      <!-- <label class="text-sm text-gray-600">Content</label>
      <textarea
        class="border rounded px-2 py-1 text-sm"
        rows="2"
        placeholder="Edit content..."
      ></textarea>
      <label class="text-sm text-gray-600">Style</label>
      <input type="text" class="border rounded px-2 py-1 text-sm" placeholder="CSS styles..." />
      <button
        class="bg-blue-700 text-white px-3 py-1 rounded hover:bg-blue-800 focus:ring-2 focus:ring-blue-800 mt-2"
      >
        Generate Tagline (AI)
      </button> -->
    </div>

    @if (selectedComponent.type === 'heading') {
      <div class="flex flex-col">
        <label class="text-sm text-gray-600">Content</label>
        <input
          type="text"
          class="border rounded px-2 py-1 text-sm"
          [(ngModel)]="selectedComponent.text"
        />
      </div>
    }

    @if (selectedComponent.type !== 'card') {
      <div class="mt-auto">
        <button
          (click)="deleteComponent()"
          class="bg-red-600 text-white px-3 py-1 rounded hover:bg-red-700 focus:ring-2 focus:ring-red-800 w-full hover:cursor-pointer"
        >
          Remove Component
        </button>
      </div>
    }
  }
</aside>
